[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bioseq"]
	path = bioseq
	url = https://github.com/fkeck/bioseq
[submodule "phylosignal"]
	path = phylosignal
	url = https://github.com/fkeck/phylosignal
[submodule "rleafmap"]
	path = rleafmap
	url = https://github.com/fkeck/rleafmap
