[submodule ".registry"]
	path = .registry
	url = https://github.com/fkeck/fkeck.r-universe.dev
	branch = HEAD
[submodule "bioseq"]
	path = bioseq
	url = https://github.com/fkeck/bioseq
[submodule "phylosignal"]
	path = phylosignal
	url = https://github.com/fkeck/phylosignal
[submodule "quickview"]
	path = quickview
	url = https://github.com/fkeck/quickview
[submodule "refdb"]
	path = refdb
	url = https://github.com/fkeck/refdb
[submodule "subtools"]
	path = subtools
	url = https://github.com/fkeck/subtools
